body{
    background-color: white;
    font-size: 20px;
    margin: 10px;

}

.sub_msg{
    text-align: center;
}

#erroremail, #errorlastname, #errorlastname, #errordeparment, #errorpassword, #errorusername {
    color: red;
}

.header{
    text-align: center;
    position: absolute;
    top: 0;
    height: 10%;
    width: 90%;
    outline: 1px solid black;
}
.main{
   
    position: absolute;
    top: 10%;
    height: 90%;
    width: 90%;
}

table, th, td {
    border: 1px solid black;

}


